commands.txt
requirements.txt
coordinates.txt

classification_dataset/test
classification_dataset/train
classification_dataset/valid
detection_dataset/test
detection_dataset/train
detection_dataset/valid

classification_runs/classify/train/
classification_runs/classify/train2/*.jpg
classification_runs/classify/train2/*.png
detection_runs/detect/train/
detection_runs/detect/train2/*.jpg
detection_runs/detect/train2/*.png

vision/__pycache__/
state/__pycache__/